body {
    margin-top: 80px;
    background-color: #1c1c1c; 
}

.blackBg {
    background-color: black;
}

.navbar {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.Logo {
    margin-left: 20px;
}

.footer {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.txtHyperlink {
    color: #7373ff;
}

.accueilBtnConn {
    background-color: white;
    color: black;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

.accueilBtnConn:hover {
    background-color: black;
    color: white;
}

.connexionInput {
    border-radius: 8px;
    padding: 5px 5px;
}

.accueilDiv1 {
    background-image: url('/assets/images/img_accueil.jpg');
    background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    border-radius: 25px;
    border: 2px solid white;
    height: 65%;
}

.accueilDiv2 {
    background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    padding: 20px;
    height: 60%;
}

.divRounded {
    background-color: rgba(50,50,50);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    border-radius: 25px;
    border: 2px solid white;
    height: auto;
    width: 40%;
    margin: auto;
}

.connexionBtn {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.tableLiaisons {
    border-style: solid;
    border-color: white;
    border-width: 3px;
    th, td {
        border-width: 1px;
        padding: 10px;
    }
}